@import 'src/styles/colors';
@import 'src/styles/fonts';
@import 'src/styles/variables';

.form {
    &__field {
        margin-left: 30px;
        height: 100px;
        @extend %display-flex-row;
    }
}

.field {
    &___label {
        width: 40%;
    }

    &__input,
    &__select {
        font-size: $font-size-small-plus;
        width: 90%;
        height: 40px;
        border: 1px solid $black;
    }

    &__date {
        width: 90%;
        height: 40px;
    }
}
