@import 'src/styles/colors';
@import 'src/styles/fonts';
@import 'src/styles/variables';

.form {
    &__field {
        margin-left: 30px;
        padding: 10px 0;
    }
    width: 100%;
}

.field {
    &__input,
    &__select {
        font-size: $font-size-small-plus;
        border: 1px solid $black;
    }

    &__input,
    &__select,
    &__date {
        width: 80%;
        height: 40px;
    }
    padding-top: 15px;
    width: 100%;
}
