$red-orange: #FF3C33;
$black: #000000;
$silver-chalice: #9E9E9E;
$white: #FFFFFF;
$lochmara: #0079D3;
$bud: #9FAC95;
$light-green-less: rgba(194, 214, 177, 0.863);
$light-green-middle: rgba(196, 221, 174, 0.829);
$spray: #91F2F5;
$chambray: #385980;