@import "src/styles/variables";
@import "src/styles/colors";

.content__general {
  width: 90%;
  margin: auto;
}

.btn-add {
  background-color: $lochmara;
  color: $white;
  width: 100px;
  height: 40px;
  border: 0;
  border-radius: 6px;
  font-size: 16px;
  margin: 20px 0 20px 0;
}

.content__header {
  text-align: center;
  height: 100px;
  font-size: 60px;
  background-color: $light-green-middle;
  color: $chambray;
}

.page {
  &__menu {
    border-right: 2px solid $chambray;;
    margin-right: 0;
    position: absolute;
    width: 150px;
    height: 100%;
  }
  &__content {
      margin-left: 150px;
  }
}
