@import 'src/styles/colors';

$table-info-height: 200px;

.table-info {
    &__row {
        height: $table-info-height/4;
    }

    &__row__cell {
        text-align: center;
        border: 1px solid;
        border-color: $black;
    }

    &-tbody {
        height: $table-info-height/4*3;
    }

    &__row__cell__link {
        text-decoration: none;
        color: $black;
    }
    border-collapse: collapse;
    width: 100%;
}

.thead {
    background-color: $silver-chalice;
}
