$table-info-height: 200px;

.table-info {
    height: $table-info-height;
    border-collapse: collapse;
    width: 100%;
}

.thead {
    background-color: #9E9E9E;
}

.table-info__row {
    height: $table-info-height/4;
}

.table-info__row__cell {
    text-align: center;
    border: 1px solid;
    border-color: #000000;
}

.table-info-tbody {
    height: $table-info-height/4*3;
}

.table-info__row__cell__link {
    text-decoration: none;
    color: #000000;
}