@import 'src/styles/colors';
@import 'src/styles/fonts';
@import 'src/styles/variables';

.pagination {
    &__btn,
    &__btn-move {
        height: 60px;
        width: 55px;
        color: $lochmara;
        border-radius: 5px;
        font-size: $font-size-low-middle;
        background-color: $white;
    }
    &__btn-move {
        display: none;
    }
    padding: 30px 0 30px 0;
    @extend %display-flex-row;
    justify-content: center;
}

.display {
    display: block;
}
